
<div class="container">
  <div class="col-md-6 col-md-offset-3">
    <div class="card">
    <p>
      <h4><%= @restaurant.name %></h4>
      <p>
      <strong>Address:</strong>
      <%= @restaurant.address %>
       </p>
      <strong>Number:</strong>
      <%= @restaurant.phone_number %>
      </p>
      <p><strong>Category:</strong>
      <%= @restaurant.category %>
    </p>
  <div class="flexybuttons">
        <span>
           <%= link_to 'Add Review', new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
        </span>
        <span>
          <%= link_to 'Back', restaurants_path, class: "btn btn-danger" %>
        </span>
  </div>
  <hr>
<table class="table">
    <thead>
      <tr>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>

    <tbody>
      <% @restaurant.reviews.each do |review| %>
      <tr>
        <td> <%= review.content %> </td>
        <td> <%= review.rating %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  </div>
</div>

