<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>


<div class="container">
  <h1>You're writing a review for <%= @restaurant.name %></h1>

  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5 %>
    <%= f.submit %>
  <% end %>
</div>
